<!DOCTYPE HTML>

  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    
    <title>Registro de Trabajo</title>
    
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" charset="utf-8">
var $ = jQuery.noConflict();
  $(window).load(function() {
    $('.flexslider').flexslider({
          animation: "slide"
    });
  });
</script> </head>
  <body onload = "load()">
    
	<script type="text/javascript" src="Vue.js" ></script>
	<script type="text/javascript" src="JSHello.js" ></script>
    <div id="header">
      <div class="header_content">
        <div class="logo"><a href="index.html">
            <br /> </a></div>
        <div class="menu">
          <ul>
            <li class="selected"><a href="perfil.html">Mi Perfil</a></li>
            <li class="selected"><a href="buscartrabajo.html">Buscar Trabajo</a></li>
            <li class="selected"><a href="subirproyecto.html">Subir Proyecto </a></li>
            <li class="selected"><a href="soporte.html">Soporte</a></li>
            <li class="selected"><a href="index.html">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End of Header-->
    <div id="page_wrap">
      <div class="center_content">
        <h1><br />
        </h1>
        <h1>¿Deseas trabajar para AppToMX?</h1>
<img alt="" src= "images/appto.png" style="width: 1000px; height: 254px;" />
        <div class="section_full">
          <h2 style="margin-left: 5px;">Dinos tus habilidades...</h2>
          <div id="app3">
            		<input v-model="newTodo" v-on:keyup.enter="addTodo">
            		<ul>
              		<li v-for="todo in todos">
                			<span>{{ todo.text }}</span>
                			<button v-on:click="removeTodo($index)">X</button>
              		</li>
            		</ul>
          	</div>
          </h2>
          <h2 style="margin-left: 5px;">¿Cuanto cobrarías?</h2>
          <p style="margin-left: 4px;"> <input type="text" name="Nombre" style="width:300px; " />
          </p>
          <h2 style="margin-left: 5px;">¿Porque te consideras apto para este
            trabajo?</h2>
          <h2 style="margin-left: 5px;"><input type="text" name=" " style="width:300px; height:100px;" /></h2>
          <h2 style="margin-left: 5px;">Agreganos un comentario.</h2>
          
          <h2 style="margin-left: 5px;"><input type="text" name=" " style="width:300px; height:100px;" /></h2>
          
          <p><br />
          </p>
          <p><br />
          </p>
          <p style="text-align: left;"> <a align="left" href="propenviado.html"
              class="order_button"
              style="width: 252px; height: 24px; margin-top: 4px; margin-left: 5px;">Enviar
              Propuesta</a><br />
          </p>
          <p style="margin-left: -15px;"><br />
          </p>
          <p style="margin-left: 4px;"><br />
            <br />
          </p>
        </div>
        <div style="text-align: left; margin-left: -246px; width: 245px;"> </div>
        <p><br />
        </p>
        <p><br />
        </p>
        <p><br />
          <br />
          <br />
        </p>
                                                        <br />
        <p><br />
        </p>
      </div>
    </div>
    <div id="footer">
      <div class="footer_content">
        <div class="footer_left">
          <h2>Tweets Recientes</h2>
          <div class="tweets">
            <p><a href="#">Vota ya por MultiTask para premios #Webby - hace 7
                segundos.</a> <a href="#">Recuerda dar like a nuestra página de
                Facebook - hace 5 minutos</a><a href="#"> ¡ 8 dias para los
                premios #Webby recuerda voitar por MultiTask !</a></p>
          </div>
        </div>
        <div class="footer_left" style="margin-left: 320px; width: 246px;">
          <h2>Contáctanos...</h2>
          <p><br />
          </p>
          <p>¿Dudas, comentarios, quejas o sugerencias?</p>
          <p><br />
            Correo MT: info@multitask.mx</p>
          <p><span></span> <br />
            Teléfono: +52 (33) 3612 9087</p>
          <div class="info">
            <div class="social" style="margin-top: -16px;"> <a href="#"><img border="0"
                  src="images/rss.gif"
                  alt=""
                  title="" /></a>
              <a href="#"><img border="0" src="images/digg.gif" alt="" title="" /></a>
              <a href="#"><img border="0" src="images/delicious.gif" alt="" title="" /></a>
              <a href="#"><img border="0" src="images/reddit.gif" alt="" title="" /></a>
              <a href="#"><img border="0" src="images/twitter.gif" alt="" title="" /></a>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </body>
</html>
